@import 'base/variables';
@import 'base/utils';

.sidebar-menu {
  background-color: $white;
  border-right: 1px solid #eaeaea;
  flex: 1;
  height: 100vh;
  padding-top: 40px;
  position: fixed;
  top: 35px;
  width: $sidebar-width;

  ul {
    @extend %scrollbar;
    list-style: none;
    margin: 0;
    max-height: 577px;
    overflow: auto;
    padding: 0;
    padding-top: 16px;
  }

  li {
    width: 242px;
  }

  .link {
    align-items: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: $text-color;
    display: flex;
    font-family: Roboto;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.25px;
    line-height: normal;
    margin: 0 0 16px 0 !important;
    min-height: 58px;
    padding: 8px;
    padding-left: 43px;
    text-decoration: none !important;
    text-transform: none;
    transition: background ease .4s;

    &:hover,
    &-active {
      background: $bg-active;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      transition: background ease .4s;
    }
  }
}

